body {
    background-color: black;
}

.main-heading {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    font-size: 35px;
}

.description {
    color: white;
    font-size: 40px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;



}

.sub-description {
    color: white;
    text-align: center;
    font-size: 18px;
}

.img-card {
    margin: 20px;
    width: 300px;
}
.img:hover{
    border-radius: 20px;
    box-shadow: 0 0 10px 5px gray;
    transition: 0.5s;
}

.img {
    height: 300px;
    border-radius: 10px;
}

.img-card-description {
    color: white;
    font-size: large;
    text-align: center;
}

.img-card-container {
    margin-left:152px; 
    margin-right: 
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.dynamic-moment-taining-header{
color: white;
font-size: 50px;
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


