.navbar{
    background-color:#fff;
    display: flex;
   
    width: 100%;    
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0%;
    
   
}
.navbar-icon{
    height: 70px;
    padding: 20px;
    margin-left: 200px;
    margin-top: 10px;
    width: 70px;

}

.navbar-menu{
    font-size: 20px;
    font-weight: bold;
    margin-left: 500px;
    cursor: pointer;
   margin-bottom: 30px;
    border-radius: 20px;
    padding: 7px;
    margin-left: 10px;
    color: black;

}
.navbar-menu:hover{
    padding: 8px;
    background-color:#3273d0;
    box-shadow: 0 0 5px 2px gray;
    color: #fff;
    border-radius: 20px 0 20px 0;
    transition: 0.3s;
}
.navbar-menu-container{
    margin-left:  200px; 
    margin-right: 0%;

}

.footer-container{
    background-color: #fff;
    width: 100%;
    padding: 50px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    
    justify-content:space-around;
    height: 250px;
   margin-bottom: -100px;

}
.footer-img{
    width: 30px;
    margin-top: 50px;
   cursor: pointer;
}
.ph-no{
    font-weight: bold;

}
.email{
    margin-top: -30px;
}
.footer-child{
    margin-top: 40px;
}
.bottom{
background-color: #fff ;
}
.btn{
    height: 40px;
    width: 80px;
    border-radius: 7px;
    padding: 5px;
    background-color:tomato;
    color:#fff;
    margin-left: 20px;
    margin-top: 50px;
    cursor: pointer;
    }     
       .btn:hover{
        padding: 10px;
        width: 85px;
        height: 42px;
        box-shadow: 0 0 5px black;
        transition: 0.5s;
    
       }
       .btn-con{
        display: flex;
       }
       .btn2{
        background-color: #1d1d1d;
        color: #fff;
        border:1px solid black;
       }
       @media only screen and(max-width:600px){
        .navbar{
            background-color:#fff;
            display: flex;
           height: 50px;
            flex-wrap: wrap;
            width: 100%;    
            left: 0%;      
            margin-top: -20px;
            margin-bottom: -20px;
            margin-right: -20px;
            justify-content: center;
            
        }
        .navbar-icon{
            height: 70px;
            padding: 20px;
            margin-left: 200px;
            margin-top: 10px;
            width: 70px;
        
        }
        
        .navbar-menu{
            font-size: 20px;
            font-weight: bold;
            margin-left: 300px;
            cursor: pointer;
           margin-bottom: 30px;
            border-radius: 20px;
            padding: 5px;
            margin-left: 30px;
            color: black;
        
        }
        .navbar-menu:hover{
            padding: 8px;
            background-color:#3273d0;
            box-shadow: 0 0 5px 2px gray;
            color: #fff;
            border-radius: 20px 0 20px 0;
            transition: 0.3s;
        }
        .navbar-menu-container{
            margin-left: 0%; 
            margin-right: 0%;
        
        }
        .footer-container{
            background-color: #fff;
            width: 100%;
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;       
          justify-content: center;
           margin-bottom: -50px;
           margin-left: auto;
           margin-right: auto;
           
        
        }
        .footer-img{
            width: 20px;
            margin-top: 30px;
           cursor: pointer;
        }
        .ph-no{
            font-weight: bold;
        
        }
        .email{
            margin-top: -30px;
        }
        .footer-child{
            
            margin-left: 0%;
        }
        .bottom{
        background-color: #fff ;
        }
        .btn{
            height: 40px;
            width: 80px;
            border-radius: 7px;
            padding: 5px;
            background-color:tomato;
            color:#fff;
            margin-left: 20px;
            margin-top: 50px;
            cursor: pointer;
            }     
               .btn:hover{
                padding: 10px;
                width: 85px;
                height: 42px;
                box-shadow: 0 0 5px black;
                transition: 0.5s;
            
               }
               .btn-con{
                display: flex;
                flex-wrap: wrap;
               }

       }
      